.detalleCompra {
    justify-content: space-between;
}

.btnVaciar{
    text-decoration: none;
    border: 5px;
    border-radius: 10px;
    padding: 0.5rem;
    background-color: #ef4b0f;
    color: whitesmoke;
}


.btnCheckout {
    text-decoration: none;
    border: 5px;
    border-radius: 10px;
    padding: 0.5rem;
    background-color: #456aaf;
    color: whitesmoke;
}
