.cardProducto {
    display: inline-block;
    max-width: 15vw;
    margin: 2rem;
    padding: 1rem;
    border: 2px solid black;

    img {
    width: 80%;
    border: 6px solid transparent ;
    }
    h4 {
        color: black;
    }  
      
    p {
        text-decoration: underline solid black;  
    }
    
    .btn {
        text-decoration: none;
        border: 5px;
        border-radius: 10px;
        padding: 0.5rem;
        background-color: #456aaf;
        color: whitesmoke;
    }
}