header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 20px solid red;

}

li {
    display: inline-block;
    margin: 15px;
    cursor: pointer;

}